.idea/*
__pycache__/
__init__.py
train/
gin_cut_train/
gin_train/
gin_test/



03_compare/
combine_train/
cut_resize.py
dump/
fukugen/
fukugen_08/
fukugen_fit/
fukugen_ok/
images/trang.png
images/xanh.png
kin_cut/
kin_test/
kin_train/
model_kin_tf/
pin_anomaly.png
pin_anomaly_2.png
pin_anomaly_3.png
pin_normal.png
pin_normal_2.png
test.png
test2.png
test_1pin/
file.h5
vae_16x16_tf_kin.py
